target
*.iml
/HW1/mvnw
/HW1/mvnw.cmd
/HW1/src/main/resources/application.properties
/HW3/RentIT/back-end/*.iml
.idea
/HW3/BuildIT/back-end/*.iml
/HW2/*.iml
/HW3/CucumberTests/esi-acceptance.iml
/HW3/BuildIT/back-end/.idea
.DS_Store
/HW2/BuildIT/
/HW3/
/HW2/
